<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <p>protected page</p>
    <div><%= message %></div>
    <p>
        <a class="btn btn-primary btn-lg" href="/party/new">Add New Blog</a>
     </p>
    <div id="card-container"></div>
    <div id="content">Content</div>
    <!-- <script src="./../../public/javascripts/main.js" async defer></script> -->
    <script src="/javascripts/main.js" async defer></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>