<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>protected page</p>
    <div><%= message %></div>
    <p>
        <a class="btn btn-primary btn-lg" href="/party/new">Add New Blog</a>
     </p>
    
</body>
</html>